.Calendar {
    width: 370px;
    margin: 0 auto;
}

.Calendar div {
    display: inline-block;
    width: calc(370px / 7);
    padding: 10px;
    box-sizing: border-box;
}

.Calendar__caption {
    font-weight: bold;
}

.Calendar__header {
    font-weight: bold;
    background-color: #3f58fc;
    color: #fff;
}

.Calendar tr:nth-child(2n + 1) {
    background-color: #dee2e8;
}
  
.Calendar td, th {
    padding: 5px 9px;
    text-align: center;
}

.Calendar td {
  cursor: pointer;
}

.Calendar td:hover {
  background-color: #3f58fc;
  color: #fff;
}

.Calendar caption {
    font-weight: bold;
}